---
import Layout from "../layouts/Layout.astro";
import ServerCard from "../components/ServerCard.astro";
import servers from "../data/servers.json";
---

<Layout title="UAMON">
  <!-- Grid -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    {servers.map((server) => (
  <ServerCard server={server} />
))}
  </div>

  <!-- Pagination mock -->
  <div class="flex items-center justify-center gap-4 mt-10">
    <button class="w-12 h-12 rounded-xl bg-neutral-800/60 border border-white/10 text-white font-extrabold">«</button>
    <button class="w-12 h-12 rounded-xl bg-neutral-800/60 border border-white/10 text-white font-extrabold">1</button>
    <button class="w-12 h-12 rounded-xl bg-neutral-800/60 border border-white/10 text-white font-extrabold">2</button>
    <button class="w-12 h-12 rounded-xl bg-neutral-800/60 border border-white/10 text-white font-extrabold">»</button>
  </div>
</Layout>